@import "src/colors.scss";

.SlideCardList {
    width: 100%; height: 586px;
    max-width: 1440px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    .SlideCard {
        width: 100%;
        position: absolute;
        top: 0; left: 0;
        transition: opacity 1s;
        img {
            width: 100%; height: auto;
        }
        &--hide {
            opacity: 0;
        }
        &--display {
            animation: slide 1s forwards;
        }
        &__descriptionContainer {
            width: 100%;
            position: absolute;
            left: 0; bottom: 100px;
            display: flex;
            justify-content: center;
        }
        &__description {
            width: 857px;
            display: flex;
            background-color: $primary;
            border-radius: 8px;
            color: white;
            h3 {
                width: 45%;
                min-height: 116px;
                display: flex;
                align-items: center;
                border-right: 1px solid #4314ff;
                font-size: 30px;
                padding-left: 32px;
                margin: 0;
            }
            p {
                width: 35%;
                display: flex;
                align-items: center;
                font-size: 18px;
                padding: 16px;
            }
            div {
                width: 5%;
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                padding: 16px;
            }
        }
        &__paginationContainer {
            width: 72px; height: 24px;
            position: absolute;
            bottom: 60px;
        }
        &__popup {
            width: 92px; height: 92px;
            position: absolute;
            top: 220px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 8px;
            font-size: 58px;
            font-weight: 900;
            color: $primary;
            opacity: 0;
            transform: scale(0);
            animation: fade-in-out 1s ease-in-out;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes fade-in-out {
    33% {
        opacity: 0.8;
        transform: scale(1);
    }
    67% {
        opacity: 0.8;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}